.top-title {
    padding: 7rem 1rem 1rem 4rem;
    background: linear-gradient(45deg, #41359d, #6f42c1);
    color: white;
    margin-top: -1rem;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.img {
    width: 300px;
    height: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formbold-btn {
    transition: all 0.3s;
}

.formbold-btn:hover {
    background-color: #41359d;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.formbold-btn {
    text-align: center;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding: 14px 25px;
    border: none;
    font-weight: 500;
    background-color: #6a64f1;
    color: white;
    cursor: pointer;
    margin-top: 25px;
}

.formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    padding: 30px;
    text-align: center;
}

.box img {
    width: 400px;
    height: auto;
}

.box p {
    max-width: 700px;
    font-size: 18px !important;
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn-confirm {
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.formbold-btn a{
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.btn-confirm1 {
    background-color: #fff;
    border: none;
    color: #41359d;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding: 14px 25px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
}

.btn-confirm1 a {
    font-weight: bold;
    text-decoration: none;
    color: #41359d;
    text-decoration: underline;
    transition: all 0,2s;
}

.btn-confirm1 a:hover {
    color: #796cda;
}
