input[type="radio"] {
    width: 16px;
    height: 16px;
    accent-color: #6c5ce7;
    cursor: pointer;
}

.form-check-label {
    font-size: 1.1rem;
    color: #333;
    cursor: pointer;
}

.form-check{
    padding-left: 16px;
}

.form-label {
    font-size: 1.2rem;
    font-weight: 600;
}