.login-btn {
    background-color: #6c5ce7 !important;
    transition: 0.3s ease;
    border-radius: 30px;
    font-weight: 600;
    padding: 0.5rem 18px !important;
    text-transform: uppercase;
    border-color: #695ade;
    border-radius: 1px solid !important;
}

.login-btn:hover {
    background-color: #341f97 !important;
}

.register-btn {
    background-color: transparent !important;
    color: #6c5ce7;
    border-color: #6c5ce7;
    transition: 0.3s ease;
}

.register-btn:hover {
    background-color: white !important;
    color: #6c5ce7 !important;
}

.btn-link {
    color: #6c5ce7 !important;
}

.icon-danger {
    color: #554aad !important;
}