.top-title {
    padding: 7rem 1rem 1rem 4rem;
    color: white;
    font-weight: bold;
    margin-top: -1rem;
    background: linear-gradient(45deg, #41359d, #6f42c1);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.btn-click{
    background-color: #8359d2;
    font-size: 1.1rem;
    padding: 0.5rem 2rem;
    border: none;
    transition: all 0.2s;
}

.btn-click:hover{
    background-color: #41359d;
}

.btn-cancel{
    background-color: rgb(161, 161, 161);
}

.btn-cancel:hover {
    background-color: rgb(143, 142, 142);
}