{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<!-- Juste un exple. Il faudra changer le css/exple au nom de votre file css -->
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}


{% block content %}
<!-- Squelette du dashboard ici -->
<!-- avec nav pour "Réservations passées", "Réservations à venir" si c'est un user qui est connecté ; leur templates gérée par Absa -->
<!-- Si c'est un organisateur connecté, dashboard nav change pour "Mes événements passés" et "Mes événements à venir (with edit option)"  ; leur templates gérée par Ndiaye -->

    {% block dashboard_content %}
    <!-- Contenu dynamique du dashboard ici. Genre les pages des autres  -->
    {% endblock %}

<h1 class="top-title">Dashboard Page</h1>

{% endblock %}


<!-- si vous avez un script.js file. Vous pouvez aussi mettre le script pur dans block content si vous préférez -->
{% block extra_js %}
<script src="{%static 'js/exple.js'%}"></script>
{% endblock %}