{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<!-- Juste un exple. Il faudra changer le css/exple au nom de votre file css -->
<link rel="stylesheet" href="{% static 'css/events/userevents.css' %}">
{% endblock %}


{% block content %}

<h1 class="top-title">Tous les événements</h1>




<!-- filtrage -->

{% comment %} <form method="get" class="mb-4 p-3 bg-light rounded shadow-sm">
    <div class="row g-3">
      <div class="col-md-3">
        <label for="category" class="form-label">Catégorie</label>
        <select class="form-select" name="category" id="category">
          <option value="">Toutes</option>
          {% for c in categories %}
            <option value="{{ c }}" {% if filters.category == c %}selected{% endif %}>{{ c }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-2">
        <label for="price_min" class="form-label">Prix min</label>
        <input type="number" step="0.01" name="price_min" id="price_min" class="form-control" value="{{ filters.price_min }}">
      </div>
      <div class="col-md-2">
        <label for="price_max" class="form-label">Prix max</label>
        <input type="number" step="0.01" name="price_max" id="price_max" class="form-control" value="{{ filters.price_max }}">
      </div>
      <div class="col-md-2">
        <label for="start_date" class="form-label">Date début</label>
        <input type="date" name="start_date" id="start_date" class="form-control" value="{{ filters.start_date }}">
      </div>
      <div class="col-md-2">
        <label for="end_date" class="form-label">Date fin</label>
        <input type="date" name="end_date" id="end_date" class="form-control" value="{{ filters.end_date }}">
      </div>
     
     <div class="col-md-1 d-flex align-items-end" style="background-color: #f8f9fa;">
        <button type="submit" class="btn btn-primary w-100" style="background-color: #41359D; border-color: #41359D;">Filtrer</button>
      </div>
      <div class="col-md-12 text-end mt-2">
        <a href="{% url 'user_events' %}" class="btn btn-link">Réinitialiser les filtres</a>
      </div>
      
    </div>
  </form> {% endcomment %}
  



<!-- Contenu page ici -->
 <form action="{% url 'search_events' %}" method="get" class="d-flex mb-4 mx-4" style="margin-top: 20px;">
    <input type="text" name="q" class="form-control me-2" placeholder="Rechercher un événement...">
    <button type="submit" class="btn btn-primary" style="background-color: #41359D; border-color: #41359D;">Chercher</button>
</form>

<!-- Page Content-->
<div class="firstblock py-2">
    <div class="container-fluid px-4 px-lg-5">
    
        <!-- Heading Row: MAIN EVENT -->
        {% if main_event %}
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7">
                <div style="width: 100%; height: 350px; overflow: hidden; border-radius: 0.5rem;">
                    <img class="img-fluid"
                        src="{{ main_event.image_url|default:'https://dummyimage.com/900x400/dee2e6/6c757d.jpg' }}"
                        alt="Main Event Image" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-5">
                <h1 class="font-weight-light maintitle mb-3">{{ main_event.title }}</h1>
                <p class="descriptionmain">{{ main_event.description|truncatewords:50 }}</p>
                <a class="btn btn-lg seeEvent" href="{% url 'user_event_detail' main_event.id %}">Voir l'événement</a>
            </div>
        </div>
        
        {% endif %}
    </div>
</div>

<!-- Call to Action (Optional) -->
<div class="mt-5 text-center px-4">
    <div class="titleCatch">
        Une sélection spécialement pour vous !
    </div>
</div>

<div class="carousel-wrapper mb-5" style="background-image: url('{% static "img/events/bg2.png" %}');">
    <div class="carousel ml-auto mt-5" mask>
        {% for event in carousel_events %}
        <article>
            <img src="{{ event.image_url|default:'https://images.pexels.com/photos/2072158/pexels-photo-2072158.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1' }}"
                alt="{{ event.title }}">

            <p class="category mt-3">{{ event.category }}</p>
            <h2 class="topcardtitle fs-2">{{ event.title }}</h2>
            <p class="d-flex">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1675_1735)">
                        <path
                            d="M9 16.5C4.85775 16.5 1.5 13.1422 1.5 9C1.5 4.85775 4.85775 1.5 9 1.5C13.1422 1.5 16.5 4.85775 16.5 9C16.5 13.1422 13.1422 16.5 9 16.5ZM9 15C10.5913 15 12.1174 14.3679 13.2426 13.2426C14.3679 12.1174 15 10.5913 15 9C15 7.4087 14.3679 5.88258 13.2426 4.75736C12.1174 3.63214 10.5913 3 9 3C7.4087 3 5.88258 3.63214 4.75736 4.75736C3.63214 5.88258 3 7.4087 3 9C3 10.5913 3.63214 12.1174 4.75736 13.2426C5.88258 14.3679 7.4087 15 9 15ZM9.75 9H12.75V10.5H8.25V5.25H9.75V9Z"
                            fill="#536387" />
                    </g>
                    <defs>
                        <clipPath id="clip0_1675_1735">
                            <rect width="18" height="18" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                {{ event.start_datetime }}
            </p>
            <div>
                <a href="{% url 'user_event_detail' event.id %}">Voir plus</a>
            </div>
        </article>
        {% endfor %}
    </div>
</div>


<!-- Call to Action (Optional) -->
<div class="my-4 py-4  text-center">
    <div class="titleCatch">
        Découvrez plus encore !
    </div>
</div>
<div class="lastBlock pt-5 mx-2 mb-5">
    <div class="container px-4 px-lg-5">

        <!-- Content Row: OTHER EVENTS -->
        <div class="row gx-4 gx-lg-5">
            {% for event in remaining_events %}
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-img-box" style="height: 200px; overflow: hidden;">
                        <img src="{{ event.image_url|default:'https://dummyimage.com/900x400/dee2e6/6c757d.jpg' }}"
                            class="card-img-top object-fit-cover" alt="{{ event.title }}"
                            style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                    <div class="card-body">
                        <div class="category mb-2">{{ event.category }}</div>
                        <h2 class="card-title fs-5">{{ event.title }}</h2>
                        <p class="card-text small">
                            <strong>Host:</strong> {{ event.created_by.full_name }}<br>
                            <strong>Date:</strong> {{ event.start_datetime|date:"d M Y H:i" }}<br>
                            <strong>Lieu:</strong> {{ event.location }}<br>
                            <strong>Places:</strong> {{ event.available_slots }} dispo / {{ event.total_slots }}
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-top-0">
                        <a class="btn seeEvent btn-sm w-100" href="{% url 'user_event_detail' event.id %}">Voir Détails</a>
                    </div>
                </div>
                
            </div>
            {% empty %}
            <div class="col-12 text-center">
                <p class="text-muted">Aucun événement restant 🥺</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
    
    
    
<!-- si vous avez un script.js file. Vous pouvez aussi mettre le script pur dans block content si vous préférez -->
{% block extra_js %}
<script src="js/events/scripts.js"></script>
{% endblock %}